.cards__like {
  background-color: transparent;
  background-repeat: no-repeat;
  background: center;
  background-image: url(../../../images/like.svg);
  transition: all 1s ease-in-out;
  min-width: 22px;
  min-height: 19px;
  margin: 0 0 0 5px;
  padding: 0;
}

.cards__like:hover {
  opacity: 0.5;
  cursor: pointer;
}